<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h5>Supportet durch:</h5>
            <ul>
                <li><i class="bi bi-tiktok"></i><a href="https://www.tiktok.com/&#64;fvrkanbey"> fvrkanbey</a></li>
                <li>Matthias Zettl</li>
                <li><a href="https://www.kai-hartmann.com" target="_blank">Kai Hartmann</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h5>Rechtliches</h5>
            <ul class="nav-content">
                <li class="nav-item"><a href="/impressum">Impressum</a></li>
                <li class="nav-item"><a href="/datenschutz">Datenschutz</a></li>
                <li class="nav-item"><a href="/agb">AGBs</a></li>
                
            </ul>
        </div>
    </div>
</footer>

@code {

}
