<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h5>Support</h5>
            <ul>
                <li><a href="#">Häufige Fragen</a></li>
                <li><a href="#">So funktioniert's</a></li>
                <li><a href="#">Sicherheit</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h5>Rechtliches</h5>
            <ul class="nav-content">
                <li class="nav-item"><a href="/impressum">Impressum</a></li>
                <li class="nav-item"><a href="/datenschutz">Datenschutz</a></li>
                <li><a href="#">Kontakt</a></li>
                <li><a href="#">Infos für Eltern</a></li>
            </ul>
        </div>
    </div>
</footer>

@code {

}
