
@inject NavigationManager Navi

<nav class="navbar navbar-expand navbar-light bg-light border-bottom">

    <div class="container-fluid">
        <!-- Logo -->
        <img src="" alt="logo" />

        <!--Navi Links-->
        <div class="navbar justify-content-end">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">

                    <a href="#" class="nav-link disabled text-secondary">Job finden</a>
                </li>

                <li class="nav-item">

                    <a href="#" class="nav-link disabled text-secondary">Job anbieten</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link disabled text-secondary">Tips und Tricks</a>
                </li>
            </ul>

            <button class="btn btn-outline-primary mx-2" @onclick="NavToLogin">Login</button>
            <button class="btn btn-outline-primary mx-2" @onclick="NavToRegister">Register</button>

        </div>
    </div>

</nav>

@code {

    public void NavToLogin()
    {
        Navi.NavigateTo("/login");
    }

    public void NavToRegister()
    {
        Navi.NavigateTo("/register");
    }
}
