<div class="vh-100 sidebar flex-column">
    <ul>
        <li class="nav-links mb-2"><a href="/admindashboard">Dashboard</a></li>
        <li class="nav-links"><a href="/tipsmanagement">Tips verwalten</a></li>
    </ul>
    </div>
@code {

}
