<div class="vh-100 sidebar flex-column">
    <ul>
        <li class="nav-links mb-2">
            <a href="/admindashboard">
            <h1><i class="bi bi-speedometer"></i></h1>
           Dashboard</a>
        </li>

        <li class="nav-links mb-2">
            <a href="/addadmin">
            <h1><i class="bi bi-person-add"></i></h1>
             weiteren Admin Account erstellen</a>
        </li>
        <li class="nav-links">
            <a href="/tipsmanagement">
            <h1><i class="bi bi-pencil"></i>
                </h1>
                Tips verwalten</a>
            </li>
        <li class="nav-links">
            <a href="/faqedit">
            <h1>
                <i class="bi bi-pencil"></i>
            </h1>
           FAQ bearbeiten</a>
            </li>

        <li class="nav-links">
            <a href="/howitworks-edit">
            <h1><i class="bi bi-database-add"></i></h1>
            Bearbeite "Wie es funktioniert"</a>
            </li>

    </ul>
    </div>
@code {

}
