@page "/impressum"

<div class="content">
    <h1>Impressum</h1>
    <address>
        <strong>Justus Kaiser &amp; Mike Cockburn</strong><br />
        TalentLink – Die Jobbörse für Kinder und Jugendliche<br />
        Rudolf-Diesel-Str. 117<br />
        46485 Wesel<br />
        Deutschland
    </address>

    <p>
        <strong>Telefon:</strong> <a href="tel:+4915170563672">+49 151 705 636 72</a><br />
        <strong>E-Mail:</strong> <a href="mailto:kontakt.talentlink@gmail.com">kontakt.talentlink@gmail.com</a><br />
        <strong>Website:</strong> <a href="https://www.talentlink.nrw" target="_blank" rel="noopener">www.talentlink.nrw</a>
    </p>

    <section>
        <strong>Vertreten durch die Gesellschafter:</strong>
        <ul>
            <li>Justus Kaiser</li>
            <li>Mike Cockburn</li>
        </ul>
    </section>

    @* <section>
        <strong>Umsatzsteuer-ID:</strong><br />
        nicht vorhanden
    </section> *@

    <section>
        <strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br />
        Justus Kaiser &amp; Mike Cockburn<br />
        Rudolf-Diesel-Str. 117<br />
        46485 Wesel
    </section>

    <section>
        <strong>Plattform der EU-Kommission zur Online-Streitbeilegung:</strong><br />
        <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener">
            https://ec.europa.eu/consumers/odr/
        </a><br />
        Unsere E-Mail-Adresse finden Sie oben im Impressum.
    </section>
</div>

@code {

}
