@page "/login"
@using TalentLink.Frontend.Models

@inject HttpClient HttpClient
@inject NavigationManager Navi
@inject TalentLink.Frontend.Services.AuthenticationService AuthService


<div class="container d-flex  justify-content-center align-items-center tips-bg" style="min-height: 80vh;">
    <div class="card shadow-lg p-4" style="max-width: 350px; width: 100%;">
        <h4 class="mb-4 text-center">Login</h4>
        <form @onsubmit="LoginUser">
            <div class="mb-3">
                <label for="email" class="form-label">E-Mail</label>
                <input id="email" class="form-control" @bind="login.Email" type="email" required />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Passwort</label>
                <input id="password" class="form-control" @bind="login.Password" type="password" required />
            </div>
            <button class="btn btn-primary w-100" type="submit">Login</button>
        </form>
        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-danger mt-3">@message</div>
        }
    </div>
</div>

@code {
  
}
