@page "/tips"
@inject HttpClient Httpclient
@using TalentLink.Frontend.Models
<div class="tips-bg">
    <h3>Tips und Tricks - Links (mit freundlicher Genehmigung von azubiyo.de)</h3>
    <div class="container mt-4">
        <a class="nav-item" href="https://www.azubiyo.de/bewerbung/download/" target="_blank"> Worauf sollte ich alles achten bei meiner Bewerbung?</a>

    </div>
</div>
@if (tips.Any())
{
    @foreach (var tip in tips)
    {
        <div class="tip-card">
            <h4>@tip.Title</h4>
            <p>@tip.Content</p>
        </div>
    }
}
else
{
    <p></p>
}

